.bg-image {
    padding: 0px;
    margin: 0px;
    height: 400px;
    width: 100%;    
}

.house-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    width: 70%;
    height: 70%;
}

.navbar{
    background-color: #e3f2fd;
}