/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/fondo.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-attachment: fixed;
}